

.curso_item ul {
    list-style-type: none;
}

.curso_item ul li {
    display: inline-block;
    padding: .5rem;
}

.curso_item ul li a {
    text-decoration: none;
    color: black;
}

.curso_descripcion {
    background-color: rgb(38, 34, 34);
    padding: 1rem;
    border-radius: 1rem;
}

.footer {
    margin-top: 2rem;
}